<div class="tab-content" id="comptabilite">

<br/>
    <center><%= image_tag 'bill.png', class: "img-main" %>
  <h2>Expertise Comptable</h2>
  <p>Cabinet membre du groupe <%= link_to 'France Défi', 'https://www.francedefi.fr/', class: "more", target: "blank" %> .</p><br/><br/>
  <div class="usp">
  <div><%= image_tag 'easy.png', class: "img-usp" %><br/>Expertise</div>
  <div><%= image_tag 'like.png', class: "img-usp" %><br/>Simplicité</div>
  <div><%= image_tag 'check-mark.png', class: "img-usp" %><br/>Fiabilité</div>
  </div>
  </center>
  <br/><br/>


  <!-- Debut modal -->
  <center><a type="button" class="more" data-toggle="modal" data-target="#compta" >Pour en savoir plus sur nos services comptables</a></center>


  <div class="modal fade" id="compta"  tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content" style="padding:20px;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

<!-- fin modal -->

  <h2>Comptabilité</h2>

  <div class="container">
    <div class="row">
      <div class="col-sm-4"><article id="wpex1">
        <label for="an1"><div class="plus">Tenue de comptabilité</div></label>
          <input class="exp-details" id="an1" type="checkbox">
        <div style="display: none;">
          <p>Service complet et modulable. Chez nous, chez vous, par internet, scan… Plusieurs possibilités sont envisageables.</p>
        </div>
      </article>
      <article id="wpex2">
       <label for="an2"><div class="plus"> TVA & Taxes </div> </label>
        <input class="exp-details" id="an2" type="checkbox">
        <div style="display: none;">
          <p>Nous assurons la conformité et l’optimisation de l’ensemble de vos obligations
    fiscales.</p>
        </div>
      </article>
      <article id="wpex6">
        <div><label for="an6"><div class="plus"> Révision & Situations </div> </label></div>
          <input class="exp-details" id="an6" type="checkbox">
          <div style="display: none;">
            <p>Nous assurons la conformité vis-à- vis des règles légales et une image fidèle
    de la réalité de votre entité.</p>
          </div>
      </article> <article id="wpex7">
        <div><label for="an7"><div class="plus"> Comptes annuels</div> </label></div>
        <input class="exp-details" id="an7" type="checkbox">
        <div style="display: none;">
          <p> Nous assurons la conformité vis-à- vis des règles légales et de l’image fidèle
    de la réalité de votre entité de vos comptes annuels.</p>
        </div>
      </article>

    <article id="wpex8">
        <label for="an8"><div class="plus"> Reporting fce/us </div> </label>
        <input class="exp-details" id="an8" type="checkbox">
        <div style="display: none;">
        <p> Nous pouvons assurer le « reporting » dans des délais convenus, avec les
      retraitements adaptés selon la mise en forme FRA/US ou autre.</p>
        </div>
      </article>

    </div>
      <div class="col-sm-4"><article id="wpex3">
        <div><label for="an3"><div class="plus">IFRS </div></label></div>
        <input class="exp-details" id="an3" type="checkbox">
        <div style="display: none;">
          <p>Nous pouvons assurer la mise en place et le respect des normes IFRS.</p>
        </div>
      </article>

      <article id="wpex4">
        <div><label for="an4"><div class="plus"> Processus Comptables & administratif</div> </label></div>
        <input class="exp-details" id="an4" type="checkbox">
        <div style="display: none;">
          <p>Nous pouvons assurer l’organisation de votre système
    administratif et comptable.</p>
        </div>
      </article>

      <article id="wpex10">
        <div><label for="an10"><div class="plus">Full Service </div> </label></div>
        <input class="exp-details" id="an10" type="checkbox">
        <div style="display: none;">
          <p>Nous pouvons nous assurer l’ensemble — ou en partie — des démarches qui
    concernent votre entité.</p>
        </div>
      </article>
      <article id="wpex9">
       <label for="an9"><div class="plus">Mise en place d'ERP</div></label>
        <input class="exp-details" id="an9" type="checkbox">
        <div style="display: none;">
          <p> Nous pouvons vous assister dans sa mise en place et dans la formation du
    personnel.</p>
        </div>
      </article>
      </div>
    </div>
  </div>





      <h2>Audit</h2>
      <article id="wpex13">
        <div><label for="an13"><div class="plus">Légal</div></label>
        <input class="exp-details" id="an13" type="checkbox">
        <div style="display: none;">
          <p>Selon les obligations légales applicables en France.</p>
        </div>
      </article>

      <article id="wpex14">
        <div><label for="an14"><div class="plus"> Spécifique</div></label></div>
        <input class="exp-details" id="an14" type="checkbox">
        <div style="display: none;">
          <p>Pour un événement nous pouvons :
          <li>Assurer les obligations spécifiques.</li>
          <li>Porter un diagnostic.</li>
          <li>Valider une opération.</li>
          </p>
        </div>
      </article>

      <article id="wpex15">
        <div><label for="an15"><div class="plus">Due Diligence & Data room </div> </label></div>
        <input class="exp-details" id="an15" type="checkbox">
        <div style="display: none;">
          <p>Nous pouvons vous accompagner et nous charger — à l’occasion d’une opération de cession ou d’acquisition — de la constitution et/ou du contrôle du dossier.</p>
        </div>
      </article>
      <article id="wpex19">
       <label for="an19"><div class="plus">Évaluation</div></label>
        <input class="exp-details" id="an19" type="checkbox">
        <div style="display: none;">
          <p> Nous pouvons réaliser avec l’aide de plusieurs méthodes, et par référence au marché, un dossier complet.</p>
        </div>
      </article>
    </div>
<!-- modal -->
    </div>
  </div>
</div>
